<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Caixa Eletrônico</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Movimentacao/Saque">Saque</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/Movimentacao/Deposito">Deposito</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span style="margin-right:7px"> Logged in as: {{user}}</span>
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()" type="submit">Logout</button>

    </form>
  </div>
</nav>

<!--<div class="container authenticated" style="display: none">-->
  <!--Logged in as: <span id="user"></span>-->
  <!--<div>-->
    <!--<button (click)="logout()" class="btn btn-primary">Logout</button>-->
  <!--</div>-->
<!--</div>-->


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Features</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Pricing</a>-->
      <!--</li>-->
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Dropdown link-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
